
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="text-center">
        <h1 class="display-4">Forbidden</h1>
        <p>Sorry, But Access Is Denied For This Page</p>
    </div>