@model DMSOShopping.Models.Customer

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-4"></div>
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Description_FL" class="control-label"></label>
                <input asp-for="Description_FL" class="form-control" />
                <span asp-validation-for="Description_FL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_SL" class="control-label"></label>
                <input asp-for="Description_SL" class="form-control" />
                <span asp-validation-for="Description_SL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" minlength="6" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
